name: Terragrunt CI

on:
  pull_request:
    paths:
      - "**/*.tf"
      - "**/*.hcl"
      - ".github/workflows/**"
      - "modules/**"
      - "nz3es/**"

jobs:
  validate:
    name: Terragrunt validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4

      - name: Terraform format check
        # Fast, local formatting check to enforce canonical formatting on all .tf files
        run: terraform fmt -check -recursive

      - name: Install Terragrunt
        run: |
          sudo rm -f /usr/local/bin/terragrunt # Ensure no old version exists
          TG_VER=v0.93.1
          wget https://github.com/gruntwork-io/terragrunt/releases/download/${TG_VER}/terragrunt_linux_amd64 -O terragrunt
          chmod +x terragrunt
          sudo mv terragrunt /usr/local/bin/terragrunt

      - name: Verify Terragrunt version
        run: terragrunt --version

      - name: Terragrunt Validate All
        run: terragrunt hcl validate

      - name: Terragrunt Format Check
        run: terragrunt hcl fmt --check
